/* font-family: 'Amatic SC', cursive; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
    
}

/* ---------------Whole Home page------------  */
.root-body {
    background-color: rgba(255, 255, 255, 0.5);
    width: 90vw;
    height: 90vh;
    margin: auto;
    margin-top: 3%;
    border-radius: 0.4rem;
    display: grid;
    grid-template-columns: 1fr 4fr 1.5fr;    
    backdrop-filter: blur(4px);
    box-shadow: 0px 0px 10px rgb(3, 3, 3);
}

/*---------- Nav bar --------------*/
#logo-img {
    width: 80px;
    border-radius: 50%;
    padding: 20px;
}
.left-side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;        
    font-weight: 600;
    background-color: rgba(12, 241, 165, 0.4);
    border-radius: 8px;
    padding-left: 15px;
    width: 150px;
    padding-bottom: 10px;
}
.user-selection-nav-bar li {
    list-style: none;
    padding-top: 5px;
}
.user-selection-nav-bar li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.fa-solid {
    padding-right: 10px;
}

/* -------------- Main Page --------------- */
.middle-page-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.random-data-main-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 700px;
    padding: 10px;
    border-radius: 8px; 
    height: 30vh;
    overflow: scroll; 
    border: 1px black solid;
}

.random-data-main-page::-webkit-scrollbar {
    display: none;
}

.stock {    
    margin: 10px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    transition: 0.3s ease;
    background-color: rgba(153, 50, 204, 0.249);
}

.stock:hover {
    transition: 0.3s ease;
    transform: scale(1.04);
    filter: brightness(1.3);
}





.stock-name {
    color: gray;
    font-family: 'Agdasima', sans-serif;
    font-size: 28px;
    font-weight: 700;
}



.trade-selection {
    background-color: rgba(12, 241, 165, 0.496);
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}
.trade-remove {
    border: none;
    padding: 10px;
    margin-top: 10px;
}

.trade-type-selection {
    margin-bottom: 20px;
}

.data-graph-splitting {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    /* background-color: rgba(236, 217, 13, 0.3); */
    padding: 20px;
    border-radius: 10px;
}

#myChart {
    width: 400px;
    height: 400px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.result-of-stock {
    display: flex;
    flex-direction: column;
    background-color: rgba(225, 127, 255, 0.4);
    border-radius: 10px;
    padding: 15px;
}
.region {
    padding: 5px;
    color: blueviolet;
}

/* ----------right side data------------ */
.rights-side-data {
    margin-top: 20px;
}

#search-bar {
    width: 100%;
    height: 30px;
    border-radius: 0;
    padding: 0;
    margin-right: 10px;
    border: none;
    padding: 10px;
}

#searching-section {
    border: 1px solid black;
}

#fetchStart {
    border: none;
    padding: 8px 10px;
    margin: 0;
}

.searching-option {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.searching-option-li {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    height: 60vh;
    overflow: scroll;
}

.searching-option-li::-webkit-scrollbar {
    display: none;
}

/* .searching-option-li {
    display: none;
} */

.searching-option-li li {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    background-color: rgba(88, 223, 35, 0.308);
}

.searching-option-li li div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.searching-option-li li h4{
    font-size: 18px;
}

.searching-option-li li i{
    opacity: 0.3;
}

.searching-option-li button {
    height: 30px;
    width: 100px;
    border: none;
    background-color: cadetblue;        
}

